<%= hidden_field_tag(:product, @product)%>
<%price = @product.avgprice.to_i * 100%>
<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"

    data-amount="<%=price%>"
    data-name= "<%=@product.name%>"
    data-description="<%=@product.description%>"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="gbp">
  </script>

</form>
