<% if flash[:notice] %>
  <div class="alert alert-warning" role="alert"><%= flash[:notice] %></div>
<% end %>
<% if flash[:success] %>
  <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
<% end %>

<div class="container">
  <div class="row">
    <% @orders.each do |order|%>
    <div class="col-6 col-sm-3 productbackdrop">
      <h3>Order # <%= order.id %>:
      <%= link_to order.product.name, order %></h3>
      <h5>Product ID : <%=order.product_id%></h5>
      <h5>Price : <%=order.total%></h5>
      <hr>
    </div>
    <%end%>
  </div>
</div>
