<%= image_tag(product.image_url, class: "img-responsive productimage") %>
<a href="#" id="product_title"><%= product.name %></a>
<p id="product_description"><%= product.description %></p>
<p id="price"><%= product.avgprice %></p>

<p id="formbutton"><%= link_to 'Show', product %></p>
<p id="formbutton"><%= link_to 'Edit', edit_product_path(product) %></p>
<p id="formbutton"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
