<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag(@product.image_url, class: "img-responsive productbackdrop", ) %>
  </div>
  <div class="col-12 col-sm-8">
    <h2>
      <%= @product.name %>
    </h2>
    <%= render 'avg_star'%>
      <strong>Description:</strong>
      <br>
      <%= @product.description %>
    </p>

    <h4 align="center">
      <strong>Price: </strong>
      <%= @product.avgprice %>
    </h4>
  </div>
</div>



<%= render 'top_comments'%>

<%= render 'all_comments'%>

<%= render 'new_comment'%>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'Home', simple_pages_index_path%>
