<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag(@product.image_url, class: "img-responsive productimage", id: "img-zoom", data_zoom_image: @product.image_url) %>
  </div>
  <div class="col-12 col-sm-8">
    <h2>
      <%= @product.name %>
    </h2>
    <%= render 'avg_star'%>
      <strong>Description:</strong>
      <br>
      <%= @product.description %>
    </p>
    <%= form_with(url: '/payments/create') do |form| %>
      <%= render partial: 'shared/stripe_checkout_button'%>

    <% end %>
    <h6 >
      <strong>Price: £</strong>
      <%= @product.avgprice %>
    </h6>
  </div>
</div>



<%= render 'top_comments'%>

<%= render 'all_comments'%>

<%= render 'new_comment'%>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'Home', simple_pages_index_path%>
