<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag(@product.image_url, class: "img-responsive productbackdrop", ) %>
  </div>
  <div class="col-12 col-sm-8">
    <h2>
      <%= @product.name %>
    </h2>
    <hr>
    <%allrating = Comment.where(product: @product).pluck(:rating)%>
    <%arraylength = allrating.length%>
    <%if arraylength > 0%>
    <%avgrating = allrating.sum / arraylength%>
    <%avgrating = avgrating.to_f%>
    <%end%>
    <p><div class="rated" data-score="<%= avgrating %>"></div> </p>
    <p>
      <strong>Description:</strong>
      <br>
      <%= @product.description %>
    </p>

    <h4 align="center">
      <strong>Price: </strong>
      <%= @product.avgprice %>
    </h4>
  </div>
</div>

<h2>Highest rated Comment:</h2>
<hr>

<%unless @product.highest_rating_comment.nil? %>
<p><%=@product.highest_rating_comment.created_at%></p>
<div class="rated" data-score="<%=@product.highest_rating_comment.rating%>"></div>
<p><%=@product.highest_rating_comment.body%></p>
<%end%>

<h2>Top Comments</h2>
<hr>
<%Comment.where(product: @product).pluck(:created_at, :rating, :body).each do |commentarray|%>
<p> <%= commentarray[0]%> </p>
<div class="rated" data-score="<%= commentarray[1]%>"></div>
<p> <%= commentarray[2]%> </p>
<hr>
<%end%>
<%= render 'new_comment'%>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'Home', simple_pages_index_path%>
