<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag(@product.image_url, class: "img-responsive productbackdrop", ) %>
  </div>
  <div class="col-12 col-sm-8">
    <h2>
      <%= @product.name %>
    </h2>
    <hr>
    <p>
      <strong>Description:</strong>
      <br>
      <%= @product.description %>
    </p>

    <h4 align="center">
      <strong>Price: </strong>
      <%= @product.avgprice %>
    </h4>
  </div>
</div>

<h2>Highest rated Comment:</h2>
<hr>
<p>
<% commenttext = Comment.where(product: @product)%>
<%commenttext = commenttext.pluck(:body)%>
<%=commenttext[1]%>
</p>
<h2>Top 3 Comments</h2>
<hr>
<p>
<%=commenttext[1]%>
<%=commenttext[2]%>
<%=commenttext[3]%>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'Home', simple_pages_index_path%>
